include ../button/button

mixin popup(header, submit, id, text)
  - id = id || null
  - text = text || 'Оставьте свои данные и мы перезвоним вам в течение 5 минут'
  .popup(id=id)
    .header= header
    .content
      p.text !{text}
      form
        .inputs
          .input_wrapper: input.input(placeholder='Ваше имя')
          .input_wrapper: input.input.phone(placeholder='Телефон')
          input.type(type='hidden')
        +button('submit')= submit