include ../button/button

mixin popup(header, submit, id)
  - id = id || null
  .popup(id=id)
    .header= header
    .content
      p.text Оставьте свои данные и мы перезвоним вам в течение 5 минут
      form
        .inputs
          .input_wrapper: input.input(placeholder='Ваше имя')
          .input_wrapper: input.input.phone(placeholder='Телефон')
          input.type(type='hidden')
        +button('submit')= submit