.popup
  width: 630px
  margin: 0 auto
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.25);

.header
  background: url(../../img/popup.jpg) 50% 50% no-repeat
  height: 90px
  line-height: 90px
  ff_days()
  font-size: 20px
  color: $white
  padding-left: 45px
  text-transform: uppercase
  letter-spacing: 2px

.content
  padding: 45px 40px
  border: 1px solid $grey200
  border-top: 0
  background: $white

.text
  font-size: 14px
  margin: 0 0 30px

.inputs
  container()
  margin-bottom: 40px

.input_wrapper
  span(6)

.input
  display: block
  width: 100%
  border: 0
  border-bottom: 2px solid $grey200
  font-size: 14px
  line-height: 1.2
  background: transparent
  border-radius: 0
  padding-bottom: 15px
  outline: 0