.block
  h2 Отзывы
  .wrapper: .cont
    .slider
      .slide: .item
        .content Замечательное ремяпрепровождение для любителей быстрой езды и отдыха на природе. Очень радует качество сервиса и мощные квадрациклы. Дадут остюмы,проведут полный инструктаж и даже пожарят шашлык,если об этом договориться заранее)) Очень интересные трассы, которые понравятся всем от новичков до профессионалов. Ездил уже три раза и собираюсь еще))) Советую всем, не пожалеете!!!)))))
        .footer
          span.name Денис Бушманов
          a.icon.vk(href='#')
          a.icon.fb(href='#')
      .slide: .item
        .content Замечательное ремяпрепровождение для любителей быстрой езды и отдыха на природе. Очень радует качество сервиса и мощные квадрациклы. Дадут остюмы,проведут полный инструктаж и даже пожарят шашлык,если об этом договориться заранее))
        .footer
          span.name Денис Бушманов
          a.icon.fb(href='#')
      .slide: .item
        .content Замечательное ремяпрепровождение для любителей быстрой езды и отдыха на природе. Очень радует качество сервиса и мощные квадрациклы. Дадут остюмы,проведут полный инструктаж и даже пожарят шашлык,если об этом договориться заранее)) Очень интересные трассы, которые понравятся всем от новичков до профессионалов. Ездил уже три раза и собираюсь еще))) Советую всем, не пожалеете!!!)))))
        .footer
          span.name Денис Бушманов
          a.icon.vk(href='#')
      .slide: .item
        .content Замечательное ремяпрепровождение для любителей быстрой езды и отдыха на природе. Очень радует качество сервиса и мощные квадрациклы. Дадут остюмы,проведут полный инструктаж и даже пожарят шашлык,если об этом договориться заранее)) Очень интересные трассы, которые понравятся всем от новичков до профессионалов. Ездил уже три раза и собираюсь еще))) Советую всем, не пожалеете!!!)))))
        .footer
          span.name Денис Бушманов
          a.icon.vk(href='#')
          a.icon.fb(href='#')
      .slide: .item
        .content Замечательное ремяпрепровождение для любителей быстрой езды и отдыха на природе. Очень радует качество сервиса и мощные квадрациклы. Дадут остюмы,проведут полный инструктаж и даже пожарят шашлык,если об этом договориться заранее))
        .footer
          span.name Денис Бушманов
          a.icon.vk(href='#')
          a.icon.fb(href='#')
      .slide: .item
        .content Замечательное ремяпрепровождение для любителей быстрой езды и отдыха на природе. Очень радует качество сервиса и мощные квадрациклы. Дадут остюмы,проведут полный инструктаж и даже пожарят шашлык,если об этом договориться заранее)) Очень интересные трассы, которые понравятся всем от новичков до профессионалов. Ездил уже три раза и собираюсь еще))) Советую всем, не пожалеете!!!)))))
        .footer
          span.name Денис Бушманов
          a.icon.vk(href='#')
          a.icon.fb(href='#')
