@import "../../../node_modules/slick-carousel/slick/slick.css"

.block
  margin-top: 75px

.slider
  width: (100% / 12 * 10)
  margin: 0 auto
  height: 350px

.slide
  margin: 0 17px

.item
  border: 2px solid $grey200
  padding: 27px 30px
  height: 330px
  margin-bottom: 20px
  font-size: 13px
  position: relative

  &:after
    content: ''
    display: block
    position: absolute
    sprite('../../sprite/sprite-quote.png')
    right: 35px
    bottom: -20px

.content
  line-height: 1.5
  height: 255px

.icon
  vc()
  margin-left: 8px

.vk
  sprite('../../sprite/sprite-vk.png')

.fb
  sprite('../../sprite/sprite-fb.png')

:global
  .slick-arrow
    position: absolute
    top: 50%
    border: 0
    padding: 0
    margin: 0
    text-indent 100%
    background: transparent
    overflow: hidden
    opacity: .7
    transition: all .1s ease-out
    cursor: pointer

    &:hover
      opacity: 1

  .slick-prev
    sprite('../../sprite/sprite-left.png');
    right: 100%
    margin-right: 50px

  .slick-next
    sprite('../../sprite/sprite-right.png');
    left: 100%
    margin-left: 50px