include ../button/button

.block
  h2 Ремонт и обслуживание квадроциклов
  .wrapper.bg: .cont
    .content
      h6.title Специальные предложения для владельцев квадроциклов:
      p
        |Осуществляем ремонт и техническое обслуживание мототехники#[br]
        |В наличии необходимые детали для BRP, Yamaha,#[br]
        | CF moto x5, x8, x10, Polaris. Работают специалисты с 7 летним стажем
      p
        |Оставьте #[b заявку] по телефону + 7 (911) #[i 002-92-33] (Лев)#[br]
        |и получите консультацию по вашему случаю.
      div Скачайте #[b прайс] на основные виды работ: #[a(href='#'): +button() Скачать прайс]
