.block
  margin-top: 60px

.bg
  background: url(../../img/service.jpg) 50% 50% no-repeat
  height: 390px

.content
  span(7)
  padding: 40px 0 0 70px
  color: $white

  p
    font-size: 15px
    line-height: 1.7
    margin-bottom: 30px

  b
    font-weight: normal
    color: $yellow

  i
    font-style: normal
    font-size: 20px
    color: $yellow

.title
  font-size: 20pxw
  font-weight: bold
  margin: 0 0 30px
