include ../button/button

.block.cols
  .col
    .title Стоимость проката включает:
    .cols
      .col
        .bullet шлем, защитную одежду
        .bullet топливо для квадроцикла
        .bullet постоянное присутствие инструктора
      .col
        .bullet для новичков - обучение базовым навыкам управления квадроциклом
  .col
    .button: a.open_popup(href='#request'): +button() Оставить заявку
    .text
      |Оставьте заявку#[br]
      |на прокат квадроцикла или снегохода,#[br]
      |мы перезвоним в течение 5 минут.#[br]
      |Или позвоните по телефону#[br]
      |+7 #[span.big (911) 002-92-33]
