.block
  border: 2px dashed $yellow
  padding: 38px 35px 31px
  margin: 48px 15px 0
  cf()

.col
  float: left
  width: 50%

.title
  ff_days()
  font-size: 16px
  margin-bottom: 14px
  text-transform: uppercase

.text
  padding-left: 84px
  font-size: 14px
  line-height: 2
  position: relative

  &:before
    content: ''
    display: block
    position: absolute
    left: 2px
    top: 10px
    sprite('../../sprite/sprite-card.png')

.form
  margin: 2px 16px 0

.row
  text-align: justify
  &:after
    content: ''
    display: inline-block
    width: 100%

.input
  display: block
  width: 100%
  height: 51px
  font-size: 14px
  line-height: 14px
  padding: 15px 0
  border: 0
  border-bottom: 2px solid $grey200
  outline: 0
  background: transparent
  border-radius: 0
  padding-right: 15px

  &_wrapper
    position: relative
    display: inline-block
    vertical-align: top

.people
  width: 80px

.quadro
  width: 160px

.select
  -webkit-appearance: none
  width: 200px

  &_wrapper
    overflow: hidden
    width: 180px
    &:after
      content: ''
      display: block
      position: absolute
      border-left: 4px solid transparent
      border-right: 4px solid transparent
      border-top: 4px solid $black
      right: 0
      top: 21px
      pointer-events: none

.inc, .dec
  position: absolute
  border-left: 4px solid transparent
  border-right: 4px solid transparent
  width: 0
  height: 0
  padding: 0
  margin: 0
  background: transparent
  right: 0
  outline: 0

.inc
  border-bottom: 4px solid $black
  border-top: 0
  top: 18px
.dec
  border-top: 4px solid $black
  border-bottom: 0
  top: 25px

.total, .button
  vc()

.total
  font-size: 12px

.total_value
  font-size: 14px