include ../button/button

.block
  .col
    .title Оплата картой
    .text
      |Вы можете оплатить прокат квадроцикла с помощью#[br]
      |банковской карты VISA / MasterCard. Для этого#[br]
      |в форме справа выберите нужный вам вариант#[br]
      |и перейдите к платёжной системе
  .col
    form.form
      .row
        .input_wrapper.select_wrapper
          select.input.select
            option(disabled=true selected=true) Выберите маршрут
            option(value='Сафари') Сафари
            option(value='Семейный') Семейный
            option(value='Детский') Детский
            option(value='Красносел') Красносел
            option(value='Зимнее сафари') Зимнее сафари
            option(value='Прогулка') Прогулка
        .input_wrapper
          input.input.count(placeholder='К-во чел.')
          button.dec
          button.inc
      .row
        .total
        .button: +button('submit', 'перейти к оплате')
    script.
      var ROUTES = { 'Сафари': [2000, 1600], 'Семейный': [5000, 4000], 'Детский': [200, 100], 'Красносел': [345, 123],
        'Зимнее сафари': [2000, 1600], 'Прогулка': [2000, 1600]};