include ../button/button

.wrapper.block
  .cont
    .left
      .title Дополнительно
      .lists
        .list
          .list_title Детские квадроциклы:
          .bullet 300 руб / 3 круга
          .bullet 500 руб / 6 кругов
          .sub (длина круга 1 км)
        .list
          .list_title Детские снегоходы:
          .bullet 300 руб / 3 круга
          .bullet 500 руб / 6 кругов
          .sub (длина круга 1 км)
        .list
          .list_title Катание на ватрушках за квадроциклом или снегоходом
          .bullet 200 руб.
    .right
      .title Условия проката
      a.more(href='#'): +button() Подробнее об условиях
      .passport Паспорт
      .money Залог 5 000 руб.
      .child Дети до 14 лет в качестве пассажиров