.block
  margin-top: 58px
  margin-bottom: 74px
  font-size: 14px

.row
  span(12)

.items
  span(9)

.item
  float: left
  margin-right: 24px
  line-height: 51px
  position: relative
  padding-left: 32px

  &:before
    content ''
    position: absolute
    left:0
    top: 16px

.passport:before
  sprite('../../sprite/sprite-passport.png')
.money:before
  sprite('../../sprite/sprite-money.png')
  top: 18px
.child:before
  sprite('../../sprite/sprite-child.png')
  left: 4px

.title
  span(12)
  ff_days()
  font-size: 16px
  font-weight: normal
  text-transform: uppercase
  margin-top: 32px

.lists
  content()

.list
  span(3)

.list_title
  font-size: 16px
  line-height: 1.7
  font-weight: bold
  margin-bottom: 11px

.bullet
  position: relative
  padding-left: 16px
  margin-bottom: 7px

  &:before
    content: ''
    display: block
    position: absolute
    left: 0
    top: 4px
    width: 7px
    height: 7px
    border-radius: 50%
    background: $black

.sub
  padding-left: 8px

.more
  position: relative
  z-index: 1

  &_wrapper
    span(3)
