include ../button/button

.wrapper.block
  .cont
    .row
      .title Условия проката
      .items
        .item.passport Паспорт
        .item.money Залог 5 000 руб.
        .item.child Дети до 14 лет в качестве пассажиров
      .more_wrapper: a.more(href='#'): +button() Подробнее об условиях
    .row
      .title Дополнительно
      .lists
        .list
          .list_title Детские квадроциклы:
          .bullet 300 руб / 3 круга
          .bullet 500 руб / 6 кругов
          .sub (длина круга 1 км)
        .list
          .list_title Детские снегоходы:
          .bullet 300 руб / 3 круга
          .bullet 500 руб / 6 кругов
          .sub (длина круга 1 км)
        .list
          .list_title Катание на ватрушках за квадроциклом или снегоходом
          .bullet 200 руб.

        .list
          .list_title Обучение навыкам вождения
          .sub Подготовка к сдаче экзаменов на права кат. А1, А2
