#routes.block
  h2 маршруты с инструктором

  .wrapper: .cont

    .row
      .headers
        .header.quadro.header_active(data-for='routes-1') Маршруты на квадроциклах
        .header.snow(data-for='routes-2') Маршруты на снегоходах
    .row
      .tabs
        .inner
          #routes-1.tab.tab_active
            .item
              .item_inner
                img.image(src='../../img/route-1.jpg')
                .content
                  .title Сафари
                  .description
                    p Этот маршрут рассчитан на любой уровень подготовки катающихся, идеально подходят для тех, кто впервые сел за руль квадроцикла. Их предпочитают любители приятных не экстремальных прогулок, активного отдыха в кругу ...
                  .bullets
                    .bullet.time 1 час
                    .bullet.distance 20 км
                    .bullet Залог: 5 000 руб.
                  .prices
                    .price_header Стоимость:
                    p при заказе одного квадроцикла - #[span.old 2 500] #[span.price 2 000 руб.]
                    p при заказе 2-х и более - #[span.price 1 600 руб.]
                    p Второй человек на квадроцикл - #[span.price +300 руб.]
            .item
              .item_inner
                img.image(src='../../img/route-2.jpg')
                .content
                  .title Сафари
                  .description
                    p Этот маршрут рассчитан на любой уровень подготовки катающихся, идеально подходят для тех, кто впервые сел за руль квадроцикла. Их предпочитают любители приятных не экстремальных прогулок, активного отдыха в кругу ...
                  .bullets
                    .bullet.time 1 час
                    .bullet.distance 20 км
                    .bullet Залог: 5 000 руб.
                  .prices
                    .price_header Стоимость:
                    p при заказе одного квадроцикла - #[span.old 2 500] #[span.price 2 000 руб.]
                    p при заказе 2-х и более - #[span.price 1 600 руб.]
            .item
              .item_inner
                img.image(src='../../img/route-3.jpg')
                .content
                  .title Сафари
                  .description
                    p Этот маршрут рассчитан на любой уровень подготовки катающихся, идеально подходят для тех, кто впервые сел за руль квадроцикла. Их предпочитают любители приятных не экстремальных прогулок, активного отдыха в кругу ...
                  .bullets
                    .bullet.time 1 час
                    .bullet.distance 20 км
                    .bullet Залог: 5 000 руб.
                  .prices
                    .price_header Стоимость:
                    p при заказе одного квадроцикла - #[span.old 2 500] #[span.price 2 000 руб.]
                    p при заказе 2-х и более - #[span.price 1 600 руб.]
            .item
              .item_inner
                img.image(src='../../img/route-4.jpg')
                .content
                  .title Сафари
                  .description
                    p Этот маршрут рассчитан на любой уровень подготовки катающихся, идеально подходят для тех, кто впервые сел за руль квадроцикла. Их предпочитают любители приятных не экстремальных прогулок, активного отдыха в кругу ...
                  .bullets
                    .bullet.time 1 час
                    .bullet.distance 20 км
                    .bullet Залог: 5 000 руб.
                  .prices
                    .price_header Стоимость:
                    p при заказе одного квадроцикла - #[span.old 2 500] #[span.price 2 000 руб.]
                    p при заказе 2-х и более - #[span.price 1 600 руб.]
            .item
              .item_inner
                img.image(src='../../img/route-5.jpg')
                .content
                  .title Сафари
                  .description
                    p Этот маршрут рассчитан на любой уровень подготовки катающихся, идеально подходят для тех, кто впервые сел за руль квадроцикла. Их предпочитают любители приятных не экстремальных прогулок, активного отдыха в кругу ...
                  .bullets
                    .bullet.time 1 час
                    .bullet.distance 20 км
                    .bullet Залог: 5 000 руб.
                  .prices
                    .price_header Стоимость:
                    p при заказе одного квадроцикла - #[span.old 2 500] #[span.price 2 000 руб.]
                    p при заказе 2-х и более - #[span.price 1 600 руб.]
          #routes-2.tab
            .item
              .item_inner
                img.image(src='../../img/route-1.jpg')
                .content
                  .title Сафари
                  .description
                    p Этот маршрут рассчитан на любой уровень подготовки катающихся, идеально подходят для тех, кто впервые сел за руль квадроцикла. Их предпочитают любители приятных не экстремальных прогулок, активного отдыха в кругу ...
                  .bullets
                    .bullet.time 1 час
                    .bullet.distance 20 км
                    .bullet Залог: 5 000 руб.
                  .prices
                    .price_header Стоимость:
                    p при заказе одного квадроцикла - #[span.old 2 500] #[span.price 2 000 руб.]
                    p при заказе 2-х и более - #[span.price 1 600 руб.]
            .item
              .item_inner
                img.image(src='../../img/route-2.jpg')
                .content
                  .title Сафари
                  .description
                    p Этот маршрут рассчитан на любой уровень подготовки катающихся, идеально подходят для тех, кто впервые сел за руль квадроцикла. Их предпочитают любители приятных не экстремальных прогулок, активного отдыха в кругу ...
                  .bullets
                    .bullet.time 1 час
                    .bullet.distance 20 км
                    .bullet Залог: 5 000 руб.
                  .prices
                    .price_header Стоимость:
                    p при заказе одного квадроцикла - #[span.old 2 500] #[span.price 2 000 руб.]
                    p при заказе 2-х и более - #[span.price 1 600 руб.]
            .item
              .item_inner
                img.image(src='../../img/route-3.jpg')
                .content
                  .title Сафари
                  .description
                    p Этот маршрут рассчитан на любой уровень подготовки катающихся, идеально подходят для тех, кто впервые сел за руль квадроцикла. Их предпочитают любители приятных не экстремальных прогулок, активного отдыха в кругу ...
                  .bullets
                    .bullet.time 1 час
                    .bullet.distance 20 км
                    .bullet Залог: 5 000 руб.
                  .prices
                    .price_header Стоимость:
                    p при заказе одного квадроцикла - #[span.old 2 500] #[span.price 2 000 руб.]
                    p при заказе 2-х и более - #[span.price 1 600 руб.]
            .item
              .item_inner
                img.image(src='../../img/route-4.jpg')
                .content
                  .title Сафари
                  .description
                    p Этот маршрут рассчитан на любой уровень подготовки катающихся, идеально подходят для тех, кто впервые сел за руль квадроцикла. Их предпочитают любители приятных не экстремальных прогулок, активного отдыха в кругу ...
                  .bullets
                    .bullet.time 1 час
                    .bullet.distance 20 км
                    .bullet Залог: 5 000 руб.
                  .prices
                    .price_header Стоимость:
                    p при заказе одного квадроцикла - #[span.old 2 500] #[span.price 2 000 руб.]
                    p при заказе 2-х и более - #[span.price 1 600 руб.]
            .item
              .item_inner
                img.image(src='../../img/route-5.jpg')
                .content
                  .title Сафари
                  .description
                    p Этот маршрут рассчитан на любой уровень подготовки катающихся, идеально подходят для тех, кто впервые сел за руль квадроцикла. Их предпочитают любители приятных не экстремальных прогулок, активного отдыха в кругу ...
                  .bullets
                    .bullet.time 1 час
                    .bullet.distance 20 км
                    .bullet Залог: 5 000 руб.
                  .prices
                    .price_header Стоимость:
                    p при заказе одного квадроцикла - #[span.old 2 500] #[span.price 2 000 руб.]
                    p при заказе 2-х и более - #[span.price 1 600 руб.]
          include ../routes-info/routes-info
          include ../routes-pay/routes-pay
