.block
  h2 Подарите родным и друзьям сертификат#[br]на прокат квадроцикла
  .wrapper: .items
    .item_wrapper.yellow
      .item
        .title Подарочный сертификат «семейный»
        .sub Узнать подробнее
      .under Маршрут семейный, квадроцикл CFMOTO - 1000, +2 часа в подарок
    .item_wrapper.red
      .item
        .title Подарочный сертификат «корпоративный»
        .sub Узнать подробнее
      .under Маршрут семейный, квадроцикл CFMOTO - 1000, +2 часа в подарок
    .item_wrapper.green
      .item
        .title Подарочный сертификат «семейный»
        .sub Узнать подробнее
      .under Маршрут семейный, квадроцикл CFMOTO - 1000, +2 часа в подарок
    .item_wrapper.blue
      .item
        .title Подарочный сертификат «корпоративный»
        .sub Узнать подробнее
      .under Маршрут семейный, квадроцикл CFMOTO - 1000, +2 часа в подарок
    .item_wrapper.cyan
      .item
        .title Подарочный сертификат «семейный»
        .sub Узнать подробнее
      .under Маршрут семейный, квадроцикл CFMOTO - 1000, +2 часа в подарок
