include ../button/button

.block
  h2.title Стоимость проката
  p Самостоятельная аренда, посуточно:
  .prices
    span.span Доставка или самовывоз
    span.span 10 000 #[span.min руб./сутки]
    span.span Залог 35 000 руб.
  p Для заключения договора необходимы ваш паспорт и залог в размере 35 000 рублей.
  p В стоимость аренды входят: 2 шлема, канистра для бензина.

  a.open_popup(href='#request')
    +button() Оставить заявку на посуточную аренду