.button
  vc()
  background: $yellow3
  background: linear-gradient(to bottom, $yellow 0%, $yellow3 100%)
  border: 2px solid $yellow
  border-radius: 6px
  padding: 13px 23px
  color: $black
  font-size: 15px
  font-weight: bold
  text-transform: uppercase
  text-shadow: none
  transition: all .1s ease-out
  outline: 0

  &:focus
    box-shadow 0 0 5px 1px rgba($yellow2, 0.5)

  &:hover
    background: $yellow
    background: linear-gradient(to bottom, $yellow 0%, $yellow 100%)

.ghost
  background: none
  color: $white

  &:hover
    background: none
    border-color: $yellow2

.sm
  padding: 8px 23px