- var menu = [];
- menu.push({ title: 'Стоимость', href: '#prices' })
- menu.push({ title: 'Маршруты', href: '#routes' })
- //menu.push({ title: 'Лучшее предложение', href: '#price' })
- menu.push({ title: 'Мотопарк', href: '#park' })
- menu.push({ title: 'Подарить другу', href: '#presents' })
- menu.push({ title: 'Контакты', href: '#contacts' })
header.header
  .wrapper
    .cont
      .menu_and_logo
        .logo
          .logo_image
        nav.menu
          for item in menu
            .item: a(href=item.href)= item.title
      .phones
        .inner
          .phone #[.code +7 (812)] 222-99-99
          .phone #[.code +7 (911)] 002-92-33
          .type ( Viber или WhatsApp )
      .fos
        a.call.open_popup(href='#callback')