.block
  h2 Недавние Фото с маршрутов
  .wrapper
    .photos
      a.photo(href='../../img/photo-1.jpg'): img(data-original='../../img/photo-1.jpg')
      a.photo(href='../../img/photo-1.jpg'): img(data-original='../../img/photo-2.jpg')
      a.photo(href='../../img/photo-1.jpg'): img(data-original='../../img/photo-3.jpg')
      a.photo(href='../../img/photo-1.jpg'): img(data-original='../../img/photo-2.jpg')
      a.photo(href='../../img/photo-1.jpg'): img(data-original='../../img/photo-3.jpg')
      a.photo(href='../../img/photo-1.jpg'): img(data-original='../../img/photo-1.jpg')
      a.photo(href='../../img/photo-1.jpg'): img(data-original='../../img/photo-3.jpg')
      a.photo(href='../../img/photo-1.jpg'): img(data-original='../../img/photo-1.jpg')
      .photo.more_button
        .text Показать ещё фото
      .more
        a.photo(href='../../img/photo-1.jpg'): img(data-original='../../img/photo-3.jpg')
        a.photo(href='../../img/photo-1.jpg'): img(data-original='../../img/photo-1.jpg')
        a.photo(href='../../img/photo-1.jpg'): img(data-original='../../img/photo-3.jpg')
        a.photo(href='../../img/photo-1.jpg'): img(data-original='../../img/photo-1.jpg')
