doctype html
html
  head
    title Квадро Сити
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=1140")
    link(rel="icon" type="image/png" href="/favicon.png" sizes="16x16")
    :styles

  body
    block body

    :scripts